<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="background-color: lightslategrey;">
    <div class="container">
        {% if 'None' in username_form %}
            <h1>Welcome back to the dash</h1>
        {% else %}
            <h1>Welcome to the dash {{ username_form }}</h1>
        {% endif %}
            <a type="button" class="btn btn-primary btn-lg btn-block" href="/add_car">Add Car</a>
            <!-- Delete from databasdf -->
            <a type="button" class="btn btn-secondary btn-lg btn-block" href="/sell_car">Sell Cars</a>

            <a type="button" class="btn btn-secondary btn-lg btn-block" href="/view_lot">View Cars on Lot</a>

            <a type="button" class="btn btn-primary btn-lg btn-block" href="/logout">Log Out</a>
    </div>
</body>
</html>
